{% extends 'base.html'%}{% import 'bootstrap/wtf.html' as wtf %} {% import 'macros.html' as macro %} {% block content%}
<h1>olaa</h1>
<h3>QUOTES</h3>
<div class="row">
    <div class="col-xs-4">
        <ul>
            <li>{{quotes.quote}}</li>
            <li>{{quotes.author}}</li>
        </ul>
        <div>

            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="col-xs-8">
        <div id="all">
            <br> {{ macro.display(blogview) }}
        </div>
    </div>
</div>

{% endblock%}